Repository liferay-labs-br/liferay-grow, pull requests merged in 2021-04, with the labels that each got.

#137 #136 CSV export on the KnowladgeArea screen finished
  packages/frontend/package.json
  packages/frontend/src/components/drop-down/DropDown.tsx
  packages/frontend/src/components/templates/HomeTemplate.tsx
  packages/frontend/src/i18n/en_US.ts
  packages/frontend/src/i18n/pt_BR.ts
  packages/frontend/src/pages/index.tsx
  packages/frontend/styles/globals.scss
  packages/frontend/styles/pages/home.scss
Labels: Frontend

#152 #151 Added user teams in CSV export
  packages/backend/src/controller/Reports.ts
  packages/backend/src/exportFile.ts
  packages/backend/src/utils/queries.ts
Labels: Backend

#165 #164 Add CreatedBy tracking before creating a new KnowledgeSkill
  packages/backend/src/resolvers/knowledge_skill/Inputs.ts
  packages/backend/src/resolvers/knowledge_skill/knowledge.skill.resolver.ts
Labels: Backend

#167 #166 Add description to skill level on frontend
  packages/frontend/src/components/skill-management/SkillManagementUserList.tsx
  packages/frontend/src/graphql/fragments.ts
  packages/frontend/src/types/index.ts
Labels: Frontend

#179 #158 Member list modal on the SkillDetails screen finalized
  packages/backend/src/entity/KnowledgeSkill.ts
  packages/backend/src/resolvers/knowledge_matriz/Inputs.ts
  packages/backend/src/utils/queries.ts
  packages/frontend/src/graphql/queries.ts
  packages/frontend/src/pages/skill/[slug]/index.tsx
  packages/frontend/styles/globals.scss
  packages/frontend/styles/pages/skill.scss
Labels: Backend, Frontend

#181 #180 Minor fixes in Knowledge Skill entity and Page
  packages/backend/src/entity/KnowledgeSkill.ts
  packages/backend/src/utils/queries.ts
  packages/frontend/src/pages/skill/[slug]/index.tsx
Labels: Backend, Frontend

#186 #185 Closes the modal, before redirect user to other page
  packages/frontend/src/pages/skill/[slug]/index.tsx
Labels: Frontend

#192 Add reverse proxy to deal with HTTPS
  docker-compose.yml
  nginx/Dockerfile
  nginx/config/conf.d/prod/nginx.conf
Labels: misc

#197 Add reverse proxy for backend
  docker-compose.yml
  nginx/config/conf.d/prod/nginx.conf
Labels: misc

#220 #218 Use a fixed path to export CSV
  .gitignore
  packages/backend/src/controller/CSV.ts
  packages/backend/src/controller/Reports.ts
  packages/backend/src/index.ts
Labels: Backend
